<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body style="text-align: center">
<div>
    <div>
        <h1>Hello, [[${login}]]! Make your order</h1>
    </div>
    <div th:if=" ${orderForm}!=null">
        <h3>You Have already chosen:</h3>

        <div th:each="good : ${orderedGoods}">
            <td th:text="${good.name}"></td>
            <td th:text="${good.price}"></td>
        </div>
    </div>
    <div>
        <h3>Order Total: [[${totalPrice}]]$</h3>
    </div>
</div>

<form action="" th:method="POST" th:object="${orderForm}">
    <select th:field="*{goodId}">
        <option value="">Select Product</option>
        <option th:each="good : ${goods}" th:value="${good.id}"
                th:text="${good.toString()}"></option>
    </select>
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password.
    </div>
    <button type="submit" name="action" value="Add">Add</button>

    <button type="submit" formaction="/online-shop/orders" name="submit" value="submit">Enter</button>


    <h4><a th:href="@{/logout}">Выйти</a></h4>
</form>

</body>
</html>