<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div style="text-align: center">
    <h2>Registration</h2>
</div>

<div style="text-align: center">
    <form th:action="@{/registration}" method="post" th:object="${loginForm}">
        <div style="text-align: center">

            <tr>
                <td>Login:</td>
                <td><input th:field="*{login}" id="login" placeholder="Enter your name"></td>
            </tr>
            <br>
            <tr>
                <td>Password:</td>
                <td><input th:field="*{password}" id='password' placeholder="Enter your password"/></td>
            </tr>


            <tr>
                <td style="text-align: center"><input name="submit" type="submit" value="submit"></td>
            </tr>

            <h4><a th:href="@{/logout}">Выйти</a></h4>

        </div>

    </form>
</div>
</body>
</html>