<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div>
    <h1>Error</h1>
    <h1>[[${error}]]</h1>
    <h1>[[${errors}]]</h1>
    <a th:href="@{/login}">Login</a>
</div>
</body>
</html>