<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="text-align: center">
<h1>Welcome to online shop</h1>
<br>
<form th:name="loginDto" th:action="@{/login}" th:method="POST" th:object="${loginDto}">

    <div style="text-align: center">
        <tr>
            <td>User:</td>
            <td><input th:field="*{login}" id="username" placeholder="Enter your name"></td>
        </tr>
        <br>
        <tr>
            <td>Password:</td>
            <td><input th:field="*{password}" id='password' placeholder="Enter your password"/></td>
        </tr>
        <br>
        <tr>
            <td><input type="checkbox" name="terms" required> I agree with the terms of service</td>
        </tr>
        <br>

        <tr>
            <td style="text-align: center"><input name="submit" type="submit" value="submit"></td>
        </tr>

        <a th:href="@{/registration}">Register</a>

        <h4><a th:href="@{/logout}">Выйти</a></h4>

    </div>

</form>
</body>
</html>