<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<div style="text-align: center">
    <h2>Dear [[${login}]], your order:</h2>

    <div th:each="order : ${orders}">
        <li th:text="${order.toString()}"></li>
        <br>
    </div>
    <div>
        <h3>Total price: [[${totalPrice}]]$</h3>
    </div>

    <h4><a th:href="@{/logout}">Выйти</a></h4>
</div>
</body>
</html>