<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center">

    <div th:each="good : ${order}">
        <li th:text="${good.toString()}"></li>
        <br>
    </div>

    <div>
        <h3>Total price: [[${totalPrice}]]$</h3>
    </div>

</div>

</body>
</html>